html, body
  height: 100%
body 
  background-color: #eceff9
  margin: 0 auto !important
  padding: 0
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  max-width: 750px
li
  list-style: none
h1,h2,h3,h4,h5,h6,ul,li,p,ol
  margin: 0
  padding: 0
a
  text-decoration: none
